<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="LogProviders" type="Inhouse.Sdk.Logger.LogProviderConfiguration, Inhouse.Sdk.Logger" />
  </configSections>
  <LogProviders>
    <providers>
      <add name="Console"
           type="Inhouse.Sdk.Logger.Providers.ConsoleLogProvider, Inhouse.Sdk.Logger"
           active="true"
           levelLog="debug"
           pattern=" %TimeStamp  %Message  %Item " />
    </providers>
  </LogProviders>
  <appSettings>
    <add key="bridge.debug" value="false"/>
    <add key="bridge.baudrate" value="57600"/>
    <add key="bridge.port" value="null"/>
    <add key="bridge.fake" value="false"/>
  </appSettings>
</configuration>